@{
    ViewBag.Title = "Board of Directors";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2>President</h2>
        <p>Rick Hiles</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo, 
        eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim. 
        Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis, 
        quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.</p>
        <p><a href="mailto:Rickhiles1@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vice President</h2>
        <p>Franke Jones, Jr.</p>
        <p>Read about current issues.</p>
        <p>@Html.ActionLink("See more »", "News", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Legislation</h2>
        <p>Help us advocate for horsemen's rights.</p>
        <p>@Html.ActionLink("Learn more »", "Legislation", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>President</h2>
        <p>Rick Hiles</p>
        <p><a href="mailto:Rickhiles1@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Read about current issues.</p>
        <p>@Html.ActionLink("See more »", "News", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Legislation</h2>
        <p>Help us advocate for horsemen's rights.</p>
        <p>@Html.ActionLink("Learn more »", "Legislation", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
</div>
