@using KYHBPA.Models

@model HomepageViewModel
@{
    ViewBag.Title = "Kentucky Horsemen's Benevolent and Protective Association";
}


<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<style>
    .container.body-content {
        width: 100%;
    }
</style>


@* make it 100% of the container, not of the page*@
<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        @for (int i = 1; i < Model.CarouselIds.Count(); i++)
        {
            <li data-target="#carousel" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Items -->
    <div class="carousel-inner">
        @if (!Model.CarouselIds.Any())
        {
            <div class="item active">
                <img src="@Url.Action("RenderImage")" style="height: 512px; width: 100%; object-fit: fill;" />
            </div>
        }
        @for (int i = 0; i < Model.CarouselIds.Count(); i++)
        {
            if (i == 0)
            {
                <div class="item active">
                    <img src="@Url.Action("RenderImage", new { id = Model.CarouselIds[i] })" style="height: 512px; width: 100%; object-fit: fill;" />
                </div>
            }
            if (i != 0)
            {
                <div class="item">
                    <img src="@Url.Action("RenderImage", new { id = Model.CarouselIds[i] })" style="height: 512px; width: 100%; object-fit: fill;" />
                </div>
            }
        }
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

@* nix, make me a picture and get rid of the text*@
<div class="jumbotron">
    <h1>Kentucky Horsemen's Benevolent and Protective Association</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <img style="height:100%;width:100%;object-fit:cover" src="@Url.Action("RenderImage", new { id = Model.EventsImageId })" />
        <p>Join us on the track!</p>
        <p>@Html.ActionLink("See more »", "Events", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <img style="height:100%;width:100%;object-fit:cover" src="@Url.Action("RenderImage", new { id = Model.NewsImageId })" />
        <p>Read about current issues.</p>
        <p>@Html.ActionLink("See more »", "News", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Legislation</h2>
        <script>(function (t, e, s, n) { var o, a, c; t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = ["https:" === location.protocol ? "https://" : "http://", "widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd_2F0cXQ_2FNVrR_2B04JPeP_2BLsWjwZTF1HGS3iSFUGs9Etx7E.js"].join(""), a.parentNode.insertBefore(c, a)) })(window, document, "script", "smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>        <p>Help us advocate for horsemen's rights.</p>
        <p>@Html.ActionLink("Learn more »", "Legislation", "Home", null, new { Class = "btn btn-default" })</p>
    </div>

</div>