@using System.Text
@model IEnumerable<byte[]>
@{
    ViewBag.Title = "Kentucky Horsemen's Benevolent and Protective Association";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

@* make it 100% of the container, not of the page*@
<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        @for (int i = 1; i < Model.Count(); i++)
        {
            <li data-target="#carousel" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Items -->
    <div class="carousel-inner">

        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <div class="item active">
                    <img style="height:50%;width:50%;object-fit:cover" src="@(string.Format("data:image/gif;base64,{0}", 
                                                            Convert.ToBase64String(Model.ElementAt(i))))"/>
                </div>
            }
            if (i != 0)
            {
                <div class="item">
                    <img style="height:50%;width:50%;object-fit:cover" src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ElementAt(i))))" />
                </div>
            }
        }
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

@* nix, make me a picture and get rid of the text*@
<div class="jumbotron">
    <h1>Kentucky Horsemen's Benevolent and Protective Association</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Imagine a picture here...for now</p>
        <p>Join us on the track!</p>
        <p>@Html.ActionLink("See more »", "Events", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Imagine a picture here...for now</p>
        <p>Read about current issues.</p>
        <p>@Html.ActionLink("See more »", "News", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Legislation</h2>
        <p>Imagine a picture here...for now</p>
        <p>Help us advocate for horsemen's rights.</p>
        <p>@Html.ActionLink("Learn more »", "Legislation", "Home", null, new { Class = "btn btn-default" })</p>
    </div>

</div>