@model IEnumerable<KYHBPA.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Content)2
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PhotoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (Model.Any((p) => p.Uploader != null))
        {
            <th>
                @Html.DisplayNameFor(model => model.Uploader)
            </th>
        }
        @if (Model.Any((p) => p.Event != null))
        {
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
        }
    </tr>

    @foreach (var photo in Model)
    {
        <tr>
            <td class="smallImageWrapper">
                <img src="@Url.Action("RenderImage", new { id = photo.Id })" class="img-thumbnail smallImage" />
            </td>
            @*<td class="smallImageWrapper">
                <img src="data:image;base64,@System.Convert.ToBase64String(photo.Content)" alt="@photo.PhotoName" class="smallImage" />
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => photo.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => photo.Description)
            </td>

            @if (Model.Any((p) => p.Uploader != null))
            {
                <td>
                    @photo.Uploader!=null?Html.DisplayFor(modelItem => photo.Uploader.FullName):"Anonymous User"
                </td>
            }

            @if (Model.Any((p) => p.Event != null))
            {
                <td>
                    @photo.Event!=null?Html.DisplayFor(modelItem => photo.Event):""
                </td>
            }

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = photo.Id }) |
                @Html.ActionLink("Details", "Details", new { id = photo.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = photo.Id })
            </td>
        </tr>
    }

</table>
